<br>
<br>
<br>
<br>
<h1> Hello There {{user.username}} </h1>
<form method="post" action="/sessions?_method=DELETE">
  <input type="submit" value="logout">
</form>



<ul>
  <li>Username: {{user.username}}</li>
  <li>Email: {{user.email}}</li>

</ul>

{{#each user.restaurants}}
<div class="restaurantDiv">
  <p>{{this.name}}</p>
  <p>{{this.city}}</p>
  <form action="/users/{{../user.id}}/restaurants/{{_id}}?_method=DELETE" method="POST">
    <input type="submit" value="delete this restaurant">
  </form>
  <form action="/users/{{../user.id}}/restaurants/{{_id}}/edit" method="GET">
    <input type="submit" value="Edit this restaurant">
  </form>
</div>
{{/each}}



<div class="newRestaurant">
<h2> Found a new KBBQ restaurant? </h2>
<form action="/users/{{user.id}}/restaurants" method="post">
  <input type="text" name="name" placeholder="Name"><br>
  <input type="text" name="phone" placeholder="Phone Number"><br>
  <input type="text" name="address" placeholder="Address"><br>
  <input type="text" name="city" placeholder="City"><br>
  <input type="text" name="state" placeholder="State"><br>
  <input type="text" name="zip" placeholder="Zip Code"><br>
  <input type="text" name="mfhours" placeholder="Monday - Friday Hours"><br>
  <input type="text" name="sathours" placeholder="Saturday Hours"><br>
  <input type="text" name="sunhours" placeholder="Sunday Hours"><br>
  <input type="text" name="most_popular" placeholder="Popular Dish"><br>
  <input type="text" name="favorite_dish" placeholder="My Favorite Dish"><br>
  <input type="submit" value="Submit Restaurant Info"> <br>
</form>
</div>
