<form action="/users/{{user.id}}/restaurants/{{restaurant.id}}?_method=PUT" method="POST">
  <input type="text" name="name" value= {{restaurant.name}}><br>
  <input type="text" name="phone" value={{restaurant.phone}}><br>
  <input type="text" name="address" value={{restaurant.address}}><br>
  <input type="text" name="city" value={{restaurant.city}}><br>
  <input type="text" name="state" value={{restaurant.state}}><br>
  <input type="text" name="zip" value={{restaurant.zip}}><br>
  <input type="text" name="mfhours" value={{restaurant.mfhours}}><br>
  <input type="text" name="sathours" value={{restaurant.sathours}}><br>
  <input type="text" name="sunhours" value={{restaurant.sunhours}}><br>
  <input type="text" name="most_popular" value={{restaurant.most_popular}}><br>
  <input type="text" name="favorite_dish" value={{restaurant.favorite_dish}}><br>
  <input type="submit" value="Submit Edited Restaurant Info"><br>
</form>
